* {
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Young+Serif&display=swap');
}

body {
    background-color: #f3e5d8;
    font-family: "Lato", sans-serif;
    color: #888785;
    font-size: 16px;
}

.main-card {
    background-color: white;
    width: 100%;
    max-width: 80vw;
    border-radius: 20px;
    margin: 70px auto;
    padding: 40px;
    /* height: 100%; */
}

.main-card img {
    width: 100%;
    border-radius: 20px;
    /* padding: 0 0 12px 0; */
    margin-bottom: 25px;
}

.Preparation-time {
    /* margin: auto auto; */
    background-color: #fff7fc;
    padding: 25px;
    /* width: 75%; */
    margin: 40px auto;
    border-radius: 10px;
}

h1 {
    color: black;
    font-family: "Lato", sans-serif;
    /* margin-bottom: 10px; */
    font-size: 50px;
}

p {
    font-size: 16px;
    font-weight: bold;
    color: #662a45;

}

.Preparation-time ul {
    margin: 12px;
}

.Preparation-time ul li {
    margin: 12px;
}

.Preparation-time ul li::marker {
    color: #662a45;

}

h2 {
    color: #875a4f;
    font-size: 30px;
}

ul li,
ol li {
    margin: 12px;
}

ul li::marker,
ol li::marker {
    color: #875a4f;
    margin: 12px;
}

table {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    height: 150px;
    width: 100%;
    /* border-bottom: 2px solid black; */

}

table tr td {
    /* border-bottom: 2px solid black; */
    margin: 0px;
    padding: 0px;
    border-bottom: 0.5px solid black;
}

/* table tr td:last-child{
    border-bottom: none;
} */
table tr td:nth-last-child(1) {
    color: #875a4f;
    font-weight: bold;
}

table tr:last-child td{
    border-bottom: none;
}
strong{
    font-weight: 700;
}
hr{
    color: #888785;
}
@media screen and (max-width: 375px) {
    body {
        background: white;
    }

    .main-card {
        margin: 0;
        /* padding: 0px 12px; */
        /* width: 100%; */
        max-width: 100%;
    }

    h1 {
        font-size: 40px;
    }

    ul li,
    ol li {
        margin: 10px 25px;
    }

    .main-card img {

        width: 100%;
        border-radius: 0;
    }

    .Preparation-time {

        padding: 10px;
        width: 70%;
        margin: 30px;
    }

}
